# Dependencias
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# Variables de entorno (¡NUNCA subir al repo!)
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
